debian/files
build-stamp
build/
configure-stamp
debian/.debhelper/
debian/*.debhelper.log
debian/*.substvars
debian/libgmp-dev/
debian/libgmp10-doc/
debian/libgmp10/
debian/libgmp3-dev/
debian/libgmpxx4ldbl/
debian/tmp/
